* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-one: #33292a;
  --clr-two: #ffffff;
  --clr-three: #e9877b;
  --clr-four: #f2f2f2;
  --clr-five: #644b4f;
  --clr-six: #333333;
  --clr-seven: #efa69d;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Navigace */
nav {
  background: var(--clr-one);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav li {
  list-style: none;
  padding: 16px;
}

nav li:hover {
  color: var(--clr-seven);
}

nav a {
  text-decoration: none;
  color: var(--clr-two);
  font-size: 20px;
}

.hamburger-icon {
  display: none;
  height: 35px;
  width: 30px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.hamburger-icon img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }
}

/* Hero sekce  */
.hero {
  background-image: url(../images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 50px);
  position: relative;
}

.hero-text {
  color: var(--clr-two);
  font-weight: 700;
  font-size: 42px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  padding: 16px;
}

@media (min-width: 769px) {
  .hero-text {
    width: calc(100%-40px);
    max-width: 800px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

/* About Us sekce  */
.about-us {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 16px;
  gap: 16px;
}

.art h2 {
  margin-top: 32px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.art-text {
  text-align: justify;
  margin-top: 32px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.about-us .image {
  background-image: url(../images/anneliese-phillips-uv4-vl3liKM-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 300px;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .about-us {
    flex-direction: column;
    max-width: 700px;
    margin: auto;
  }
}

@media (min-width: 769px) {
  .about-us {
    width: calc(100%-40px);
    max-width: 800px;
    margin: 0 auto;
  }
}

/* What We Do sekce  */
.what-we-do {
  background: var(--clr-one);
  color: var(--clr-two);
  padding: 16px;
}

.what-we-do-header {
  margin-top: 32px;
  margin-bottom: 16px;
  margin-left: 16px;
  text-align: center;
}

.what-we-do-text {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}

/* What we do sekce s ikonkami  */
.image {
  width: 100%;
}

.image img {
  width: 100%;
}

.images {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 16px;
}

.text {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 16px;
}

.image-container {
  max-width: 80px;
  flex-basis: 80px;
}

@media (min-width: 769px) {
  .images {
    flex-direction: row;
    align-items: baseline;
    gap: 90px;
  }
}

/* Our Trips sekce */
.our-trips {
  display: grid;
  grid-template-rows: repeat(4, 200px) 100px repeat(4, 200px);
  grid-template-columns: 100%;
  gap: 16px;
  max-width: 1000px;
  margin: 32px;
}

.our-trips-item {
  flex-shrink: 0;
  border-radius: 4px;
}

.photo-1 {
  background-image: url(../images/simon-english-48nerZQCHgo-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.photo-2 {
  background-image: url(../images/james-wheeler-ZOA-cqKuJAA-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.photo-3 {
  background-image: url(../images/daniel-tseng-73lmMKhi2U8-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.photo-4 {
  background-image: url(../images/holly-mandarich-UVyOfX3v0Ls-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.photo-5 {
  background-image: url(../images/patrick-szylar-45bM3XGqnDE-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.photo-6 {
  background-image: url(../images/chung-yee-tsang-wqxCKM0R6R8-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.photo-7 {
  background-image: url(../images/julian-bialowas-ilkTnuMunP8-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.photo-8 {
  background-image: url(../images/matej-drha-rbDzMcJsBkY-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.our-trip-text {
  background-color: var(--clr-four);
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 769px) {
  .our-trips {
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 1fr);
    margin: 32px auto;
  }
}

@media (min-width: 769px) {
  .our-trips {
    width: calc(100%-40px);
    max-width: 800px;
    margin: 32px auto;
  }
}

/* Where to go sekce */
.where-to-go {
  background: var(--clr-five);
  color: var(--clr-two);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.where-to-go-header {
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.where-to-go-text {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 16px;
}

.where-to-go button {
  margin-top: 32px;
  margin-bottom: 32px;
  background: var(--clr-four);
  padding: 16px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
}

.where-to-go button:hover {
  background: var(--clr-seven);
  color: var(--clr-two);
}

@media (min-width: 769px) {
  .where-to-go .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 64px;
  }

  .where-to-go-header,
  .where-to-go-text {
    margin-left: 0;
  }
}

/* Reviews sekce  */
.reviews {
  padding: 16px;
  text-align: center;
}

.reviews-header {
  margin-top: 32px;
  margin-bottom: 16px;
}

.reviews-text {
  margin-bottom: 48px;
}

.reviews span {
  font-weight: bold;
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 32px;
}

.reviews img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 16px;
}

@media (min-width: 769px) {
  .review-bertie,
  .review-frank {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin: 0 16px 32px;
  }
}

/* Gallery sekce  */
.gallery {
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: 1fr;
  width: 100%;
}

.gallery-photo-1 {
  background-image: url(../images/alexey-fedenkov-BaCZYH9RLmQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.gallery-photo-2 {
  background-image: url(../images/omer-salom-LoijtQXXNhs-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.gallery-photo-3 {
  background-image: url(../images/vincentiu-solomon-7MH4ped6_Mo-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.gallery-photo-4 {
  background-image: url(../images/daniel-tseng-73lmMKhi2U8-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .gallery {
    grid-auto-rows: 200px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Footer sekce  */
footer {
  background: var(--clr-six);
  text-align: center;
  color: var(--clr-two);
  padding: 32px;
  font-weight: bold;
}

footer span {
  color: var(--clr-seven);
  text-decoration: underline;
  margin-bottom: 16px;
  cursor: pointer;
}

footer span:hover {
  color: var(--clr-four);
}

/* Chování kontejneru */
.container {
  margin: auto;
  width: calc(100% - 40px);
  max-width: 800px;
}
